@charset "ISO-8859-1";

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #333;
	color: white;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 5px black;
	z-index: 100;
}

.header a, .header span {
	text-decoration: none;
	color: white;
	padding: 10px;
}

.headerLeft span {
	cursor: pointer;
}

.headerLeft span:first-child {
	font-weight: bold;
	border-right: 2px solid white;
	padding-right: 20px;
}

.header span:nth-child(2) {
	padding-left: 20px;
}

.headerLeft {
	float: left;
}

.headerRight {
	float: right;
}

#content {
	margin: 100px 10px 10px 10px;
	text-align: center;
}