@charset "ISO-8859-1";

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	user-select: none;
}

.title {
	font-size: 3em;
	font-weight: bold;
	margin: 15px 0;
}

.sub-title {
	font-size: 1.5em;
	margin: 10px 0;
}

#errorMsg, #successMsg {
	font-weight: bold;
	position: fixed;
	left: 50%;
	color: white;
	transform: translateX(-50%);
	padding: 5px;
	top: 45px;
	border-radius: 5px;
	z-index: 100;
	opacity: 0;
	
}
.fadeIn{
	animation: fadeIn 0.5s linear;
	animation-fill-mode: forwards;  
}
.fadeOut{
	animation: fadeOut 0.5s linear;
	animation-fill-mode: forwards;  
}
#errorMsg {
	background-color: rgba(255, 0, 0, 0.75);
}

#successMsg {
	background-color: rgba(50, 205, 50, 0.75);
}

input[type=text], input[type=password], input[type=email], button {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #555;
	font-size: 1em;
	box-sizing: border-box;
}

.loginContainer {
	text-align: center;
	margin: 50px auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	width: 75%;
	min-width: 150px;
	width: 75%;
	min-width: 150px;
	max-width: 400px;
}

.loginContainer input[type=text], .loginContainer input[type=password],
	.loginContainer input[type=email] {
	width: 100%;
	margin: 10px 0 !important;
	box-sizing: border-box;
}

.loginContainer h1 {
	margin-bottom: 20px;
}

input[type=button], button {
	font-family: 'Roboto', sans-serif;
	border: none;
	font-size: 1em;
	color: white;
	background-color: #26f;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	transition: background-color 0.1s;
	cursor: pointer;
}

input[type=button]:hover, button:hover {
	background-color: #15e;
}

.link {
	text-decoration: none;
	color: #0af;
	text-decoration: none;
	font-weight: bold;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #666;
}

::-webkit-scrollbar-thumb:active {
	background: #555;
}