<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/createAlbum.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
	rel="stylesheet">
<title>Create Album</title>
</head>
<body>
	<div class="header">
		<div class="headerLeft">
			<a href="Home">Image Gallery</a> <a th:href="@{/CreateAlbum}">Create
				Album</a> <a th:href="@{/UploadImage}">Upload Image</a>
		</div>
		<div class="headerRight">
			<span th:text="${session.user.username}"></span> <a
				th:href="@{/Logout}">Logout</a>
		</div>
	</div>

	<div class="content">
		<div class="title">Create Album</div>
		<form th:action="@{/CreateAlbum}" method="post">
			<input type="text" name="AlbumTitle" placeholder="Album title"
				minlength="4" maxlength="50" /> <input type="submit"
				value="Create Album"><br>
			<div class="errorMsg" th:if="${errorMsg!=null}" th:text="${errorMsg}"></div>
			<div class="successMsg" th:if="${successMsg!=null}"
				th:text="${successMsg}"></div>
			<div class="images">
				<div class="imageSelection" th:each="image : ${myImages}">
					<input type="checkbox" name="image" th:value="${image.getId()}" />
					<img th:alt="${image.getTitle()}"
						th:src="@{${'/ImageStreamer?image=' + image.getPath()}}">
					<div class="imageTitle" th:utext="${image.getTitle()}"></div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>